<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.intel.iotdevkit.java.remoteJavaIoTApplication">
<stringAttribute key="com.intel.core.launch.launched_target" value="IntelGalileo2"/>
<booleanAttribute key="com.intel.iotdevkit.java.attachOutputToConsole" value="true"/>
<booleanAttribute key="com.intel.iotdevkit.java.customRemoteDebugPort" value="false"/>
<stringAttribute key="com.intel.iotdevkit.java.remoteDebugPort" value="8005"/>
<stringAttribute key="com.intel.iotdevkit.launch.config.default" value="IOT"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/IOT/src/com/iot/IOT.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.debug.core.REMOTE_TCP" value="IntelGalileo2"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ALLOW_TERMINATE" value="true"/>
<mapAttribute key="org.eclipse.jdt.launching.CONNECT_MAP">
<mapEntry key="hostname" value="192.168.1.72"/>
<mapEntry key="port" value="8005"/>
<mapEntry key="timeout" value="20000"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.iot.IOT"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="IOT"/>
<booleanAttribute key="org.eclipse.jdt.launching.STOP_IN_MAIN" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_CONNECTOR_ID" value="org.eclipse.jdt.launching.socketAttachConnector"/>
</launchConfiguration>
